body {
    background-image: url("../img/js.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

h1 {
    text-align: right;
    width: 100%;
}

h3 {
    color: black;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #F0DD50;
}

.buttons {
    position: absolute;
    bottom: 30px;
    left: 44.9%;
}

#description {
    position: absolute;
    top: 40%;
    left: 40px;
    font-size: 23px;
    background-color: lightblue;
    width: 20%;
    height: 33%;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 8px 8px 6px rebeccapurple;
    text-align: center;
}

#iconoMenu {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

#primero:hover {
    scale: 2.50;
    background-color: #2BB0Ad;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#segundo:hover {
    scale: 2.50;
    background-color: #24A4A7;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#tercero:hover {
    scale: 2.50;
    background-color: #0F889D;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#cuarto:hover {
    scale: 2.50;
    background-color: #749A66;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#quinto:hover {
    scale: 2.50;
    background-color: #0B748A;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#sexto:hover {
    scale: 2.50;
    background-color: #A9BC61;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#septimo:hover {
    scale: 2.50;
    background-color: #749A66;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#octavo:hover {
    scale: 2.50;
    background-color: #5A8361;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#noveno:hover {
    scale: 2.50;
    background-color: #33605B;
    box-shadow: 4px 4px 3px rebeccapurple;
    border-radius: 5px;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

/* Lista */

ul {
    position: absolute;
    top: 12%;
    left: 18%;
    font-size: 30px;
}

li {
    list-style: none;
    float: left;
    margin-right: 70px;
}

li:hover {
    /* margin-left: 20px; */
    cursor: pointer;
    text-decoration: underline 4px;
}

li:active {
    text-decoration: underline 4px;
} 

footer {
    position: fixed;
    height: 23px;
    bottom: 0;
    left: 0;
    /* background-image: linear-gradient(to bottom, white, #00ff00); */
    /* background-image: linear-gradient(to bottom, white, black); */
    color: #fff; 
    width: 100%; 
    text-align: center;
    background-color: black;
    font-size: 12px;
} 

.abajo > p{
    margin: 0px;
    margin: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; */
}