img:first-child {
    width: 25px;
    height: 25px;
}

a:link {
    color: #0066CC;
    text-decoration: none;
}


a:visited {
    color: #0066CC;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(156, 158, 156);
    cursor: pointer;
}